<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="testUserMapper">

	<resultMap type="testUser" id="testUserResult">
		<id property="employeeId" column="employeeId" />
		<result property="firstName" column="firstName" />
		<result property="lastName" column="lastName" />
	</resultMap>
	
	<select id="getTestUsers" resultMap="testUserResult">
		SELECT * FROM testuser
	</select>
	</mapper>